{% extends 'base.html.twig' %}

{% block title %} MétéoController!{% endblock %}

{% block body %}
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row"></div>
    <div class="col-4   col-sm-4 m-auto">
      {{ form_start(form) }}

      {{ form_widget(form) }}

      {{ form_end(form) }}

      {%  if meteo is defined %}

        <h1>  {{ (meteo.ville)}} <img src="http://openweathermap.org/img/wn/{{ meteo.icone }}@2x.png" alt="">  </h1>

        <h1 >Temperature:  {{ (meteo.temperature)}} ° </h1>
        <h5> Description: {{ (meteo.description )}}</h5>
        <h5> Humidité: {{ (meteo.humidity)}} % </h5>
        <h5> vitesse du vent: {{ (meteo.vent)}} Km/h </h5>

      {% else %}

        <p> cette {{ meteo.ville }} est introuvable </p>

      {% endif %}
    </div>
  </div>

{% endblock %}

{% block javascripts %}


{% endblock %}
